@charset "utf-8";

/*header*/
.innerHeader {
  max-width: 1720px;
  height: 110px;
  line-height: 110px;
  margin: auto;
}

.innerHeader .logo {
  float: left;
}

.innerHeader .logo a {
  display: block;
  width: 100%;
  height: 100%;
}

/*gnb + sns*/
.innerHeader .mainMenu {
  float: right;
  overflow: hidden;
  position: relative;
}

span.bar {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 0;
  height: 3px;
  background: #e7e7e7;
  transition: all 0.4s;
}

/*gnb*/
.innerHeader .mainMenu .gnb {
  float: left;
}

.innerHeader .mainMenu .gnb li {
  float: left;
  margin: 0 20px;
}

.innerHeader .mainMenu .gnb li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #555;
}

/*sns*/
.innerHeader .mainMenu .sns {
  float: left;
  margin-left: 300px;
}

.innerHeader .mainMenu .sns li {
  float: left;
}

.innerHeader .mainMenu .sns li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}
