@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans+KR&display=swap');
@font-face {
  font-family: 'handel gothic';
  src: url('/src/assets/font/handel\ gothic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lush'; /* 폰트 이름 지정 */
  src: url('/src/assets/font/Lush.ttf') format('truetype'); /* 폰트 파일 경로 지정 */
}
.body {
  font-family: 'Noto Sans KR', sans-serif;
}

.en {
  /* font-family: 'Lush', sans-serif; */
  /* font-weight: bold; */
  font-family: 'handel gothic', sans-serif;
}

.en_s {
  font-family: 'Dancing Script', cursive;
}
