@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans+KR&display=swap');

@font-face {
  font-family: 'handel gothic';
  src: url(/src/assets/font/handel\ gothic.ttf) format('truetype');
}

@font-face {
  font-family: 'Lush';
  src: url(/src/assets/font/Lush.ttf);
}
.body {
  font-family: 'Noto Sans KR', sans-serif;
}

.en {
  /* font-family: 'Lush'; */
  /* font-weight: bold; */
  font-family: 'handel gothic', sans-serif;
}

.en_s {
  font-family: 'Dancing Script', cursive;
}
